* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}
nav .navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

nav .navbar-nav .nav-link {
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 25px;
}

h1 {
    -webkit-text-stroke: 4px #ffffff;
    letter-spacing: 6px;
}

.btn-white {
    background-color: #ffffff;
    border: 2px solid white ;
    padding: 10px 25px;
    border-radius: 35px;
    font-weight: bold;
}
.btn-white:hover {
    box-shadow: 0 0 15px white;
    color: white;
}
/*======== Media Query ===========*/

@media screen and (max-width: 400px) {
    h1 {
        -webkit-text-stroke: 2px #ffffff;
        letter-spacing: 6px;
    }
    h2 {
        font-size: 16px;
    }
    .btns {
        padding-top: 5% !important;
        margin-bottom: 12% !important;
    }
}

/*======== About ===========*/

.about > div > .about-title h2 {
    text-align: center;
    font-size: 7em;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px #dee4ed;
}
.about > div > .about-title h2:nth-child(2) {
    color: #0d6efd;
    font-size: 70px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.about .about-contain .about-details {
    width: 55%;
}
.about .about-contain .about-details > p {
    width: 85%;
}

.about .about-contain .about-details .about-info {
    width: 80%;
    margin-top: 5%;
}

.about .about-contain .about-details .about-info > div > p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10%;
}

.about .about-contain .about-details .about-btns {
    margin: 2% 0 1% 3%
}

.about .about-contain .about-details .about-btns a {
    background-color: #0d6efd;
    margin-right: 2%;
    color: white;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 30px;
}

.about .about-contain .about-details .about-btns a:nth-child(2) {
    background-color: transparent;
    color:#0d6efd;
    border: 2px solid #0d6efd;
}

.about .about-contain .about-details .about-btns a:nth-child(2):hover {
    background-color: #0d6efd;
    color: white;
}

/* ========= Media Query About ============= */
@media screen and (max-width: 767px) {
    .about > div > .about-title h2 {
        font-size: 5em;
    }

    .about > div > .about-title h2:nth-child(2) {
        font-size: 50px;
    }    

    .about .about-contain .about-details {
        width: 100%;
        margin-top: 20px;
    }
    .about .about-contain .about-details .about-info {
        width: 100%;
    }
    .about .about-contain .about-details .about-info > div > p{
        margin-top: 3%;
    }
    .about .about-contain .about-details .about-info > div > p:nth-child(1) {
        margin-top: 3%;
    }
}


@media screen and (max-width: 580px) {

    .about > div > .about-title h2 {
        font-size: 4em;
    }
    .about > div > .about-title h2:nth-child(2) {
        font-size: 40px;
    }    

    .about .about-contain .about-details {
        width: 100%;
        margin-top: 20px;
    }
    .about .about-contain .about-details .about-info {
        width: 100%;
    }
    .about .about-contain .about-details .about-info > div > p{
        margin-top: 3%;
    }
    .about .about-contain .about-details .about-info > div > p:nth-child(1) {
        margin-top: 3%;
    }
    .about .about-contain .about-details .about-btns a {
        margin-top: 10px;
        margin-bottom: 13px;
    }
}

/*==========  Skills  =============*/
.skills {
    padding: 3% 1%;
}
.skills .skills-title  h2 {
    text-align: center;
    font-size: 7em;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px #dee4ed;
}
.skills .skills-title  h2:nth-child(2) {
    color: #0d6efd;
    font-size: 55px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}
.skills .skills-content {
    align-items: center;
    justify-content: space-around;
}

.skills .skills-content .skill .skill-conatin > p {
    color: #6C757D;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 4%;
}

/* ======== bars ======== */

.skills-content > .skill-left > div:nth-child(1) > div.progress > div {
    background-color: #0d6efd;
    width: 95%;
}

.skills-content > .skill-left > div:nth-child(2) > div.progress > div {
    background-color: #FFC107;
    width: 85%;
}

.skills-content > .skill-left > div:nth-child(3) > div.progress > div {
    background-color: #DC3545;
    width: 75%;
}

.skills-content > .skills-right > div:nth-child(1) > div.progress > div {
    background-color: #343A40;
    width: 40%;
}

.skills-content > .skills-right > div:nth-child(2) > div.progress > div {
    background-color: #DC3545;
    width: 75%;
}
.skills-content > .skills-right > div:nth-child(3) > div.progress > div {
    background-color: #17a2b8;
    width: 80%;
}
@media screen and (max-width: 580px) {
    .skills .skills-title  h2 {
        font-size: 4em;
    }
    .skills .skills-title  h2:nth-child(2) {
        font-size: 40px;
        position: absolute;
        top: 1px;
        left: 50%;
    }
    .skills .skills-content {
        margin: 3% auto 10%;
        width: 90%;
    }
}

@media screen and (max-width: 380px) {
    .skills .skills-title  h2 {
        font-size: 4em;
    }
    .skills .skills-title  h2:nth-child(2) {
        font-size: 40px;
        position: absolute;
        top: 1px;
        left: 50%;
    }
    .skills .skills-content {
        margin: 3% auto 10%;
        width: 90%;
    }
}